*{
    padding: 0;
    margin: 0;
}

body{
    padding: 16px;
    background-color: #095315;
    text-align: center;
    font-family:arial, sans-serif;
    color: #ffffff;
}
.container{
    height: 70vh;
    display: flex;
    justify-content:center;
    align-items:center;
}

button{
    cursor: pointer;
}
.board{
    height: 350px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;  
    gap: 7px; 
}

.box{
    height: 110px;
    width: 110px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 50px;
    border: none; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: #920101;
    background-color: aliceblue;
}

#reset{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #2563EB;
    color: #ffffff;
}

.msg-conatiner{
    height: 100px;
}

#msg{
    color: #ffffc7;
    font-size: 22px;
    font-weight: bold;
    margin: 15px;
}

#newbtn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #2563EB;
    color: #ffffff;
    /* margin: 12px; */
}

.hide{  
    display: none;
}

@media (max-width: 480px) {
    .container{
        height: 55vh;
    }
    
}

